# Dependencies
node_modules/
package-lock.json
backend/__pycache__/
__pycache__/
*.pyc
*.pyo

# Environment variables
.env
.env.local

# Build artifacts
frontend/dist/
frontend/dist-ssr/
*.local

# System & OS
.DS_Store
Thumbs.db
.vscode/
.idea/
.system_generated/
*.log
